* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
span,
a {
  margin: 0;
}

a {
  text-decoration: none;
}

.logo {
  width: 70px;
  height: 70px;
  object-fit: cover;
  object-position: center;
}

.cane {
  width: 150px;
  height: 200px;
  object-fit: cover;
}

.logoFooter {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
}

/* FORM ACCEDI/REGISTRATI */

.containerLogin {
  max-width: 500px;
  background: #f8f9fd;
  background: linear-gradient(
    0deg,
    rgb(255, 255, 255) 0%,
    rgb(244, 247, 251) 100%
  );
  border-radius: 40px;
  padding: 25px 35px;
  border: 5px solid rgb(255, 255, 255);
  box-shadow: rgba(255, 100, 100, 0.7) 0px 30px 30px -25px;
  margin: 20px;
}

.containerAnimali {
  width: 600px !important;
}

.heading {
  text-align: center;
  font-weight: 900;
  font-size: 30px;
  color: rgb(190, 30, 30);
}

.formLogin {
  margin-top: 20px;
}

.formLogin .inputLogin {
  width: 100%;
  background: white;
  border: none;
  padding: 15px 20px;
  border-radius: 20px;
  margin-top: 15px;
  box-shadow: #f5c6c6 0px 10px 10px -5px;
  border-inline: 2px solid transparent;
}

.formLogin .inputLogin::-moz-placeholder {
  color: rgb(170, 170, 170) !important;
}

#microchip {
  color: rgb(170, 170, 170) !important;
}

.formLogin .inputLogin::placeholder {
  color: rgb(170, 170, 170);
}

.formLogin .inputLogin:focus {
  outline: none;
  border-inline: 2px solid rgb(190, 30, 30);
}

.formLogin .login-button,
.annulla-button {
  display: block;
  width: 100%;
  font-weight: bold;
  background: linear-gradient(
    45deg,
    rgb(190, 30, 30) 0%,
    rgb(255, 80, 80) 100%
  );
  color: white;
  padding-block: 15px;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow: rgba(215, 120, 120, 0.85) 0px 20px 10px -15px;
  border: none;
  transition: all 0.2s ease-in-out;
}

.formLogin .login-button:hover,
.annulla-button:hover {
  transform: scale(1.03);
  box-shadow: rgba(215, 120, 120, 0.85) 0px 20px 10px -15px;
}

.formLogin .login-button:active {
  transform: scale(0.95);
  box-shadow: rgba(215, 120, 120, 0.85) 0px 20px 10px -15px;
}

.no-account-container {
  margin-top: 25px;
}

.no-account-container .title {
  display: block;
  text-align: center;
  font-size: 13px;
  color: rgb(170, 170, 170);
}

.annulla-button {
  display: block;
  width: 100%;
  font-weight: bold;
  background: linear-gradient(
    45deg,
    rgb(169, 169, 169) 0%,
    rgb(211, 211, 211) 100%
  );
  color: white;
  padding-block: 15px;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow: rgba(215, 120, 120, 0.85) 0px 20px 10px -15px;
  border: none;
  transition: all 0.2s ease-in-out;
}

/* CHECKBOX */
.check {
  cursor: pointer;
  position: relative;
  width: 18px;
  height: 18px;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}

.check:before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: rgba(34, 50, 84, 0.03);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.check svg {
  position: relative;
  z-index: 1;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #c8ccd4;
  stroke-width: 1.5;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
}

.check svg path {
  stroke-dasharray: 60;
  stroke-dashoffset: 0;
}

.check svg polyline {
  stroke-dasharray: 22;
  stroke-dashoffset: 66;
}

.check:hover svg {
  stroke: #bd1e1d;
}

#cbx:checked + .check svg {
  stroke: #bd1e1d;
}

#cbx:checked + .check svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}

#cbx:checked + .check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}

/* CARD CLINICA */

.cardClinica {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  border-radius: 24px;
  line-height: 1.6;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.contentClinica {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding: 36px;
  border-radius: 22px;
  color: #dc322f;
  overflow: hidden;
  background: #fee2e2;
  border: 3px solid #dc322f;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.contentClinica::before {
  position: absolute;
  content: "";
  top: -4%;
  left: 50%;
  width: 90%;
  height: 90%;
  transform: translate(-50%);
  background: #ee4845;
  z-index: -1;
  transform-origin: bottom;
  border-radius: inherit;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.contentClinica::after {
  position: absolute;
  content: "";
  top: -8%;
  left: 50%;
  width: 80%;
  height: 80%;
  transform: translate(-50%);
  background: #f77472;
  z-index: -2;
  transform-origin: bottom;
  border-radius: inherit;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.contentClinica svg {
  width: 40px;
  height: 40px;
}

.contentClinica .para {
  z-index: 1;
  opacity: 1;
  font-size: 16px;
  line-height: 1.2;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.contentClinica .link {
  z-index: 1;
  color: #fea000;
  text-decoration: none;
  font-family: inherit;
  font-size: 16px;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.contentClinica .link:hover {
  text-decoration: underline;
}

.cardClinica:hover {
  transform: translate(0px, -16px);
}

.cardClinica:hover .contentClinica::before {
  rotate: -8deg;
  top: 0;
  width: 100%;
  height: 100%;
}

.cardClinica:hover .contentClinica::after {
  rotate: 8deg;
  top: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 575px) {
  .contentClinica svg {
    width: 30px;
    height: 30px;
  }

  .contentClinica .para {
    font-size: 12px;
  }

  .contentClinica {
    padding: 20px;
  }
}

@media screen and (max-width: 767px) {
  .contentClinica svg {
    width: 35px;
    height: 35px;
  }

  .contentClinica .para {
    font-size: 15px;
  }

  .contentClinica {
    padding: 25px;
  }
}
/* 
#footer {
  position: fixed;
  bottom: 0;
} */
